@{
    ViewBag.Title = "Binary String";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Check for a valid Binary String</p>
            <br />
            <form class="form-horizontal">
                <div class="form-group">
                    <label>Binary String</label>
                    <input type="text" class="form-control" id="txtInputStr" placeholder="Binary String" required />
                </div>
                <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/custom/binary/index.js"></script>
}
