@model List<Mongodb.Web.Models.Aggregate>
@{
    ViewData["Title"] = "Aggregate";
}
<h1>@ViewData["Title"]</h1>

@section Styles{
    <link href="~/css/custom/home/index.css" rel="stylesheet" />
}

<table class="table table-striped">
    <thead>
        <tr scope="col">         
            <th>BookName</th>
            <th>Total</th>          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookName</td>
                <td>@item.Total</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/custom/home/index.js"></script>
}