@model Mongodb.Web.Models.Book

@{
    ViewData["Title"] = "Insert";
}
<h1>Insert Book</h1>

<h2>@ViewBag.Message</h2>

<form asp-controller="Home" asp-action="Insert" method="post">
    <table border="1" cellpadding="10">
        <tr>
            <td>Book ID :</td>
            <td><input asp-for="Id" /></td>
        </tr>
        <tr>
            <td>Book Name :</td>
            <td><input asp-for="BookName" /></td>
        </tr>       
        <tr>
            <td>Author :</td>
            <td><input asp-for="Author" /></td>
        </tr>
        <tr>
            <td>Category :</td>
            <td><input asp-for="Category" /></td>
        </tr>
        <tr>
            <td>Price :</td>
            <td><input asp-for="Price" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>

