@model Mongodb.Web.Models.Book

@{
    ViewData["Title"] = "Insert";
}
<h1>Insert Book</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Home" asp-action="Insert" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Book ID</label>
                <input type="text" asp-for="Id" class="form-control" placeholder="Enter book id">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Book Name</label>
                <input type="text" asp-for="BookName" class="form-control" placeholder="Enter book name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Author</label>
                <input type="text" asp-for="Author" class="form-control" placeholder="Enter book author">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Category</label>
                <input type="text" asp-for="Category" class="form-control" placeholder="Enter book category">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Price</label>
                <input type="number" asp-for="Price" class="form-control" placeholder="Enter book price">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" placeholder="Enter book id">Save Book</button>
            </div>
        </form>
    </div>
</div>